<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
        </script>
        <title>ANIMALES</title>

        <style>
        h1{
            text-shadow: 2px 2px rgb(90, 88, 88);
        }
        </style>
    </head>
    
    <body>
        <div class="container">
            <h1 class="text-center mt-5 mb-2" style="text-align: center;">Registro de Animales</h1>
    
            <!-- Button para abrir el modal nuevo registro-->
            <div style="text-align: right">
                <button type="button"  class="btn btn-outline-primary" data-toggle="modal" data-target="#nuevo"><i
                         style='color: black'></i> <strong style='color: black'>Nuevo
                        registro</strong></button>
            </div>
    
            <hr>
    
            <!-- Tabla para cargar registros -->
            <table class="table table-striped text-center" id="tablaAnimales">
                <thead  class="thead-dark">
                    <tr>
                        <th>
                            <h5>CLAVE</h5>
                        </th>
                        <th>
                            <h5>NOMBRE</h5>
                        </th>
                        <th>
                            <h5>DESCRIPCION</h5>
                        </th>
                        <th>
                            <h5>TIPO</h5>
                        </th>
                        <th>
                            <h5>FECHA CREACION</h5>
                        </th>
                        <th>
                            <h5>OPCIONES</h5>
                        </th>
                    </tr>
                <tbody id="datos">
    
                </tbody>
                </thead>
            </table>
        </div>
    
        <!--***************MODAL´S***************-->
        <!--Modal para nuevo registro-->
        <div class="modal" id="nuevo">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title" style="color: black;">AGREGAR REGISTRO</h4>
                        <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
    
                        <!-- Nombre -->
                        <div class="form-group">
                            <label for="nombre">Nombre:</label> <input type="text" name="nombre" id="nombre"
                                class="form-control" placeholder="Digite el nombre" autocomplete="off" required>
                        </div>
    
                        <!-- Descripcion -->
                        <div class="form-group">
                            <label>Descripcion:</label>
                            <textarea rows="4" cols="50" type="text" name="descripcion" id="descripcion"
                                class="form-control" placeholder="Digite una descripcion" autocomplete="off" required></textarea>
                        </div>
    
                        <!-- Tipo -->
                        <div class="form-group">
                            <label>Tipo:</label>
                            <select name="tipo" id="tipo" class="form-control ">
                                <option value="Mamíferos">Mamíferos</option>
                                <option value="Reptiles">Reptiles</option>
                                <option value="Aves">Aves</option>
                                <option value="Peces">Peces</option>
                                <option value="Insectos">Insectos</option>
                                <option value="Anfibios">Anfibios</option>
                            </select>
                        </div>
    
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="btnGuardar" type="button" class="btn btn-success col-2" data-dismiss="modal"><i
                                    style="color: black;"></i><strong
                                    style="color: black;">Guardar</strong></button>
                            <button id="btnCancelar" type="reset" class="btn btn-secondary col-2" data-dismiss="modal"><i
                                    style="color: black;"></i><strong
                                    style="color: black;">Cancelar</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--Modal para editar registro-->
        <div class="modal" id="editar">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header bg-warning">
                        <h4 class="modal-title" style="color: black;">EDITAR REGISTRO</h4>
                        <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
    
                        <!-- Clave -->
                        <div class="form-group">
                            <input readonly="readonly" type="hidden" name="clave" id="clave2" class="form-control">
                        </div>
    
                        <!-- Nombre -->
                        <div class="form-group">
                            <label for="nombre">Nombre:</label> <input type="text" name="nombre2" id="nombre2"
                                class="form-control" placeholder="Digite el nombre" autocomplete="off" required>
                        </div>
    
                        <!-- Descripcion -->
                        <div class="form-group">
                            <label>Descripcion:</label>
                            <textarea rows="4" cols="50" type="text" name="descripcion2" id="descripcion2"
                                class="form-control" placeholder="Digite una descripcion" autocomplete="off" required></textarea>
                        </div>
    
                        <!-- Tipo -->
                        <div class="form-group">
                            <label>Tipo:</label>
                            <select name="tipo2" id="tipo2" class="form-control" required>
                                <option value="Mamíferos">Mamíferos</option>
                                <option value="Reptiles">Reptiles</option>
                                <option value="Aves">Aves</option>
                                <option value="Peces">Peces</option>
                                <option value="Insectos">Insectos</option>
                                <option value="Anfibios">Anfibios</option>
                            </select>
                        </div>
    
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="btnActualizar" type="button" class="btn btn-success col-2" data-dismiss="modal"><i
                                    class="fas fa-edit" style="color: black;"></i><strong
                                    style="color: black;">Actualizar</strong></button>
                            <button id="btnCancelar" type="button" class="btn btn-secondary col-2" data-dismiss="modal"><i
                                    class="fas fa-sign-out-alt" style="color: black;"></i><strong
                                    style="color: black;">Cancelar</strong></button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal para eliminar registro -->
        <div class="modal" id="eliminar">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title" style="color: black;">ELIMINAR REGISTRO</h4>
                        <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <h1 style="color: red;">¿Esta seguro de eliminar el registro?</h1>
                    </div>
    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnEliminar" type="button" class="btn btn-danger ml-2 col-2" data-dismiss="modal"><i
                                class="fas fa-trash-alt" style="color: black;"></i><strong
                                style="color: black;">SI</strong></button>
                        <button type="button" class="btn btn-success ml-2 col-2" data-dismiss="modal"><i
                                class="fas fa-sign-out-alt" style="color: black;"></i><strong
                                style="color: black;">NO</strong></button>
                    </div>
    
                </div>
            </div>
        </div>
    
        <!-- **********SCRIPTS********** -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="animal.js"></script>
    
    </body>
    
    </html>